{{> head }}
{{> navbar }}
<div class="container">
    <div class="row pt-4">
        <div class="col-8">
            <h2>About Info</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti asperiores aspernatur nulla quas
                architecto laborum? Tempore hic nemo in veniam!</p>
        </div>
        <div class="col-4">
            <img src="assets/img/3840x2160.jpg" class="img-thumbnail" alt="">
        </div>
    </div>
</div>
{{> footer }}